
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');




.body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 2px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
}


/* Authentication Page */
.Authentication_Page{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 200px;
}
.Welcome h2{
  font-size: 30px;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
}
.Welcome h3{
  padding-left: 105px;
  font-size: 25px;
    font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
}

/* Login Page */
.Login{
  display: flex;
   flex-direction: column;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 600;

}
.Login_Table{
  margin-top: -80px;
  display: flex;
   flex-direction: column;
   align-self:center;
   padding-right: 100px;
   
}
.Login_Table label{
  font-size: 20px;
}
.Login_Table input{
  height: 40px;
  width: 150%;
}
.register{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register span{
 color: rgb(35, 116, 209);
}

/* Register Page */
.Register_Page{
   height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 200px;
   font-family: 'Courier New', Courier, monospace;
   font-weight: 600;

}
.Register_Page h2{
  font-size: 30px;
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
}
.Register_Table{
    margin-top: 20px;
  display: flex;
   flex-direction: column;
   align-self:center;
   padding-right: 100px;
}
.Register_Table label{
  font-size: 20px;
}
.Register_Table input{
  height: 40px;
  width: 150%;
}
.login{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login span{
 color: rgb(35, 116, 209);
}


/* Home Page */
.Home_Page{
  background: linear-gradient(rgba(130, 10, 10, 0.419), rgba(169, 4, 4, 0.123)), url('assets/images/Theme-bg.jpeg');
  background-size: cover;
  background-position: center;

  
}
.Backgroung_image{
  background: linear-gradient(rgba(130, 10, 10, 0.419), rgba(169, 4, 4, 0.123)), url('assets/images/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    box-shadow:1px 1px 0.5px 0.5px #2d230055;
}
.logo{
  background: radial-gradient(circle,rgba(13, 183, 186, 1) 0%, rgba(138, 94, 0, 1) 100%);
                  -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
  font-family: "Great Vibes", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
}
.Title{
  margin-top: -30px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 30px;
   color:#7a1f2b;
}

/* Nav Bar Section */
.NavBar{
  margin-top: -50px;
  padding: 50px;
  text-align: center;
  color:#7a1f2b;
  font-weight: 800px;
  padding-left: 20%;

}
.Card_Grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 30px;
  margin-top: 30px;
}
.Card {
  text-align: center;
  font-size: 20px;
  font-weight: 800px;
  background: linear-gradient(0deg,rgba(255, 218, 172, 0.679) 0%, rgba(242, 228, 228, 0.729) 100%);
  color: #7a1f2b;
  border: 1px solid #7a1f2b;
  padding: 5px 10px;
  border-radius: 15px;
  box-shadow:1px 1px 0.5px 0.5px #2d230055;
}

/* Slide Bar */
.Slide_Bar{
  margin-top: 20px;
   height: 100%;
   width: 18%;
   padding: 20px 30px;

}
.Slider_Card{
   height: 100%;
  width: 100%;
  background: linear-gradient(0deg,rgba(255, 218, 172, 0.696) 0%, rgba(242, 228, 228, 0.69) 100%);
  color: #7a1f2b;
  border: 1px solid #7a1f2b;
  padding: 20px 10px;
  text-align: center;
  border-radius: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow:2px 1px 3.5px 2px #2d230069;
  font-size: 18px;
}

/* Quick Action Card */
.QuickAction_Card{
  margin-top: 40px;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg,rgba(255, 218, 172, 0.696) 0%, rgba(242, 228, 228, 0.69) 100%);
  color: #7a1f2b;
  border: 1px solid #7a1f2b;
  padding: 20px 10px;
  text-align: center;
  border-radius: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow:2px 1px 3.5px 2px #2d23005f;
  font-size: 18px;

}
.QuickAction_Card h2{
  margin-bottom: 40px;
}

/* LogOut  */
.Log_Out{
  margin-top: 20px;
  padding: 20px;
  width: 20%;
}
.Log_Out button{
  padding: 15px 110px;
  font-size: 18px;
  background: linear-gradient(0deg,rgba(122, 31, 43, 1) 0%, rgba(84, 12, 20, 1) 100%);
  color:#d3c1ab;
}

/* Home Page SlideBar and AddInventory Table */
.Collection_Section{
  display: flex;
}


/* Add Inventory Table */
.Add-Inventory{
  padding-left: 14%;

}
.Inventory-Field{
  font-size: 20px;
  font-weight: 800px;
  background: linear-gradient(0deg,rgba(255, 218, 172, 0.679) 0%, rgba(242, 228, 228, 0.729) 100%);
  color: #7a1f2b;
  border: 1px solid #7a1f2b;
  border-radius: 15px;
  box-shadow:1px 1px 0.5px 0.5px #2d230055;
  padding: 40px 130px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Inventory-Field label{
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}
.Inventory-Field input{
  width: 100%;
  padding: 10px 0px;
}

/* Button Submit */
.btn-submit{
  width: 100%;
  padding: 10px 20px;
}

.Inventory-Field select{
  width: 100%;
  padding: 10px 0px;
}


